@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('./css/button.css');
@import url('./css/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}

.cots-nav {
    background-color: #fff;
}

.App {
    height: 100vh;
}

.App-bg {
    background-image: url('/images/siteImages/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cots-index-options-wrapper {
    background-color: #fff;
    position: absolute;
    top: 12rem;
    left:0;
    right:0;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.cots-index-options-wrapper > button {
    width: 50%;
}

.cots-index-container {
    height: 40rem;
}

.cots-custom-window-wrapper {
    background-color: #fff;
    position: absolute;
    height: 30rem;
    top: 15rem;
    left:0;
    right:0;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 5px;
}

/* article page stuff */
#Description{
    resize: none;
    border-radius: 5px;
    padding: 1rem;
}
  
.article-textarea-container {
    display: flex;
    margin: 0 auto;
    width: 50rem;
    padding: 1rem;
    align-items: stretch;
    justify-content: space-between;
    flex: 1 1 auto;
}  

@media screen and (max-width: 600px) {

    #Emoji-Container{
        display: none;
    }
}
/* article page stuff */

.usedParts {
    background: green;
    width: 100%;
    text-align: center;
    min-height: 100px;
    border: 2px solid black;
    align-content: center;
}

.holder {
    border: 2px solid blue;
    width: fit-content;
    margin: 0 auto;
    text-align: center;

}

/* common stuff */
.mx-auto {
    margin: 0px auto;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}

.m-20 {
    margin: 20px;
}
/* common stuff */