.usedParts{
  background: green;
  width: 100%;
  text-align: center;
  min-height: 100px ;
  border: 2px solid black;
}

.holder {
  border: 1px solid blue;
  width: fit-content;
  margin: 0 auto;
text-align: center;
}

.usedParts{
  align-content: center;
}